@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    background-color: #808080;
    font-family: Roboto, sans-serif;
}
div {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: gold;
    font-style: italic;
    font-size: 3em;
}
p {
    color: #e1e1e1;
}
a {
    text-decoration: none;
    text-align: center;
}
.buttons {
    text-align: center;
}
a:hover p {
    color: gold;
}
.game-container {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #e6e6e6;
    border: 60px solid #e60000;
    padding-bottom: 5px;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.game {
    width: 500px;
    position: relative;
    margin: auto;
    display: block;
    margin-left: 500px;
}
.top {
    border-radius: 30px 30px 0 0;
    background-color: #e60000;
    height: 40px;
    margin: auto;
    width: 618px;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.bottom {
    width: 618px;
    height: 40px;
    background-color: #e60000;
    margin: auto;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.top, .box, .bottom {
    padding: 1px;
}
.knob {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #f2f2f2;
    margin-left: 100px;
    margin-top: -50px;
    border: 4px solid #555;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#left-knob {
    margin-left: 20px;
}
#right-knob {
    margin-left: 420px;
}
.row {
    width: auto;
}
.box {
    position: relative;
    display: inline-block;
    margin: 1px;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-weight: bold;
}
.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled .btn-large:disabled, .btn-large:disabled .btn-large:disabled, .btn-floating:disabled {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}
.btn.disabled *, .disabled.btn-large *, .btn-floating.disabled *, .btn-large.disabled *, .btn:disabled .btn-large:disabled *, .btn-large:disabled .btn-large:disabled *, .btn-floating:disabled * {
    pointer-events: none;
}
.btn.disabled:hover, .disabled.btn-large:hover, .btn-floating.disabled:hover, .btn-large.disabled:hover, .btn:disabled .btn-large:disabled:hover, .btn-large:disabled .btn-large:disabled:hover, .btn-floating:disabled:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important;
}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: gold;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover, .btn-large:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover, .btn-large:hover {
    background-color: #4a148c;
}
.btn-large {
    height: 54px;
    line-height: 54px;
}
.btn-large i {
    font-size: 1.6rem;
}
.btn-block {
    display: block;
}
